In [91]:
pd.set_option('display.float_format', '{:,.2f}'.format)

In [92]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [93]:
# Load dataset into a DataFrame
df = pd.read_csv(r'C:\Users\User\Desktop\Projects\SQL\Car Dealer\Dataset\CAR DETAILS FROM CAR DEKHO.csv')

In [94]:
# Replace with your PostgreSQL credentials
user = 'postgres'
password = ' ' 
host = 'localhost'  
port = '5432'       
database = 'cardealer_db'

# Create connection string
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

In [95]:
# 1.List all unique fuel types available in the dataset
query = """
SELECT DISTINCT fuel FROM cardealer;
"""
df = pd.read_sql(query, engine)
print(df)

       fuel
0       LPG
1    Diesel
2    Petrol
3  Electric
4       CNG

In [96]:
# 2.Count the total number of cars in the dataset.
query = """
SELECT COUNT(name) FROM cardealer;
"""
df = pd.read_sql(query, engine)
print(df)

   count
0   4340

In [97]:
# 3.Find all cars with a selling price less than â‚¹3 lakhs.
query = """
SELECT * FROM cardealer 
WHERE sellingprice < 300000;
"""
df = pd.read_sql(query, engine)
print(df)

                                name  year  sellingprice  kmdriven    fuel  \
0                      Maruti 800 AC  2007         60000     70000  Petrol
1           Maruti Wagon R LXI Minor  2007        135000     50000  Petrol
2             Datsun RediGO T Option  2017        250000     46000  Petrol
3               Maruti Alto LX BSIII  2007        140000    125000  Petrol
4           Tata Indigo Grand Petrol  2014        240000     60000  Petrol
...                              ...   ...           ...       ...     ...
1718    Tata Manza Aura Safire BS IV  2010        160000     60000  Petrol
1719  Tata Indica Vista Aqua 1.4 TDI  2010        150000    130000  Diesel
1720                 Maruti Ritz VDi  2012        225000     90000  Diesel
1721             Maruti 800 AC BSIII  2009        110000     83000  Petrol
1722                Renault KWID RXT  2016        225000     40000  Petrol

      sellertype transmission         owner
0     Individual       Manual   First Owner
1     Individual       Manual   First Owner
2     Individual       Manual   First Owner
3     Individual       Manual   First Owner
4     Individual       Manual  Second Owner
...          ...          ...           ...
1718  Individual       Manual  Second Owner
1719  Individual       Manual  Second Owner
1720  Individual       Manual  Second Owner
1721  Individual       Manual  Second Owner
1722  Individual       Manual   First Owner

[1723 rows x 8 columns]

In [98]:
# 4.Get the number of cars per transmission type.
query = """
SELECT transmission, 
COUNT(name) FROM cardealer  
GROUP BY transmission;
"""
df = pd.read_sql(query, engine)
print(df)

  transmission  count
0       Manual   3892
1    Automatic    448

In [99]:
# 5.Find the oldest car in the dataset.
query = """
SELECT * FROM cardealer 
ORDER BY year LIMIT 1;
"""
df = pd.read_sql(query, engine)
print(df)

                 name  year  sellingprice  kmdriven    fuel  sellertype  \
0  Maruti 800 AC BSII  1992         50000    100000  Petrol  Individual

  transmission                 owner
0       Manual  Fourth & Above Owner

In [100]:
# 6.Show the average selling price of cars for each fuel type.
query = """
SELECT fuel, 
AVG(sellingprice) FROM cardealer 
GROUP BY fuel;
"""
df = pd.read_sql(query, engine)
print(df)

       fuel        avg
0       LPG 167,826.04
1    Diesel 669,094.25
2    Petrol 344,840.14
3  Electric 310,000.00
4       CNG 277,174.92

In [101]:
# 7.Find the top 5 most expensive cars listed by individual sellers.
query = """
SELECT * FROM cardealer 
WHERE sellertype ='Individual' 
ORDER BY sellingprice DESC LIMIT 5;
"""
df = pd.read_sql(query, engine)
print(df)

                                             name  year  sellingprice  \
0                   BMW 5 Series 520d Luxury Line  2018       4800000
1                               Audi A5 Sportback  2020       4700000
2                 Volvo XC 90 D5 Inscription BSIV  2017       4500000
3  Mercedes-Benz GL-Class 350 CDI Blue Efficiency  2014       4400000
4  Mercedes-Benz GL-Class 350 CDI Blue Efficiency  2014       4400000

   kmdriven    fuel  sellertype transmission         owner
0      9422  Diesel  Individual    Automatic   First Owner
1      1500  Diesel  Individual    Automatic   First Owner
2     80000  Diesel  Individual    Automatic   First Owner
3    100000  Diesel  Individual    Automatic  Second Owner
4    100000  Diesel  Individual    Automatic  Second Owner

In [102]:
# 8.Get the number of cars registered each year.
query = """
SELECT year, 
COUNT(name) FROM cardealer 
GROUP BY year;
"""
df = pd.read_sql(query, engine)
print(df)

    year  count
0   2017    466
1   2016    357
2   1999     10
3   2012    415
4   2009    193
5   2018    366
6   2005     85
7   1995      1
8   2013    386
9   1992      1
10  2003     23
11  2008    145
12  2015    421
13  1998     12
14  2010    234
15  2014    367
16  2019    195
17  2007    134
18  2002     21
19  1997      3
20  2004     42
21  1996      2
22  2006    110
23  2000     12
24  2020     48
25  2011    271
26  2001     20

In [103]:
# 9.Show the total and average km driven by seller type.
query = """
SELECT sellertype, 
SUM(kmdriven), 
AVG(kmdriven) FROM cardealer 
GROUP BY sellertype;
"""
df = pd.read_sql(query, engine)
print(df)

         sellertype        sum       avg
0  Trustmark Dealer    3998626 39,202.22
1        Individual  230867552 71,167.56
2            Dealer   52510296 52,827.26

In [104]:
# 10.Find how many automatic cars are being sold by Trustmark dealers.
query = """
SELECT COUNT(*) FROM cardealer 
WHERE transmission = 'Automatic' AND sellertype = 'Trustmark Dealer';
"""
df = pd.read_sql(query, engine)
print(df)

   count
0     19

In [105]:
# 11.Get the top 3 car brands (based on name) with the most listings.
query = """
SELECT SPLIT_PART(name, ' ', 1) AS brand,
COUNT(*) AS total_listings FROM cardealer 
GROUP BY brand 
ORDER BY total_listings DESC LIMIT 3;
"""
df = pd.read_sql(query, engine)
print(df)

      brand  total_listings
0    Maruti            1280
1   Hyundai             821
2  Mahindra             365

In [106]:
# 12.Find the average selling price of first-owner cars for each year.
query = """
SELECT year, 
AVG(sellingprice) FROM cardealer 
WHERE owner = 'First Owner' 
GROUP BY year 
ORDER BY year;
"""
df = pd.read_sql(query, engine)
print(df)

    year          avg
0   1996   200,000.00
1   1997    79,000.00
2   1999    75,000.00
3   2000    78,750.00
4   2001    77,600.00
5   2002   112,142.86
6   2003    74,000.00
7   2004   126,384.62
8   2005   104,272.73
9   2006   217,133.27
10  2007   168,170.73
11  2008   161,440.61
12  2009   222,675.32
13  2010   300,274.68
14  2011   300,395.13
15  2012   367,047.76
16  2013   525,584.59
17  2014   505,810.53
18  2015   546,098.74
19  2016   626,603.22
20  2017   784,224.26
21  2018   921,154.03
22  2019 1,074,329.70
23  2020   800,685.71

In [107]:
# 13.Rank cars by selling price within each fuel type.
query = query = """
SELECT name, fuel, sellingprice,
       RANK() OVER (PARTITION BY fuel ORDER BY sellingprice DESC) AS price_rank
FROM cardealer
ORDER BY fuel, price_rank;
"""

df = pd.read_sql(query, engine)
print(df)

                                  name    fuel  sellingprice  price_rank
0                Maruti Ertiga VXI CNG     CNG        595000           1
1                Maruti Ertiga VXI CNG     CNG        587000           2
2                Maruti Ertiga VXI CNG     CNG        525000           3
3        Hyundai Santro Magna CNG BSIV     CNG        520000           4
4     Maruti Eeco CNG 5 Seater AC BSIV     CNG        495000           5
...                                ...     ...           ...         ...
4335                Tata Nano Std BSII  Petrol         35000        2118
4336                   Tata Nano LX SE  Petrol         35000        2118
4337                     Maruti 800 EX  Petrol         30000        2121
4338                 Ford Ikon 1.4 ZXi  Petrol         22000        2122
4339             Ford Ikon 1.6 ZXI NXt  Petrol         20000        2123

[4340 rows x 4 columns]

In [108]:
# 14.Find the percentage distribution of owner types.
query = """
SELECT 
    owner,
    COUNT(*) AS total,
    ROUND((COUNT(*) * 100.0 / SUM(COUNT(*)) OVER ()), 2) AS percentage
FROM cardealer
GROUP BY owner
ORDER BY percentage DESC;
"""
df = pd.read_sql(query, engine)
print(df)

                  owner  total  percentage
0           First Owner   2832       65.25
1          Second Owner   1106       25.48
2           Third Owner    304        7.00
3  Fourth & Above Owner     81        1.87
4        Test Drive Car     17        0.39

In [109]:
# 15.Identify the most popular transmission type among cars older than 10 years.
query = """
SELECT transmission, COUNT(*) AS total
FROM cardealer
WHERE year < 2015
GROUP BY transmission
ORDER BY total DESC
LIMIT 1;
"""
df = pd.read_sql(query, engine)
print(df)

  transmission  total
0       Manual   2313